@use '../util' as u;

h1, h2, h3 {
    font-weight: 700;
    line-height: 1.1;
    margin-top: 0;
}
h1 {
    font-size: u.rem(28);
    margin-bottom: u.rem(16);
}
h2 {
    font-size: u.rem(16);
    color: hsl(75, 94%, 57%);
    margin-bottom: u.rem(24);
}

p, a {
    font-size: u.rem(14);
    margin-top: 0;
    margin-bottom: u.rem(24);
}

.button-social a {
    font-weight: 700;
    color: white;
    line-height: u.rem(46); /* line height same as container height to center the text */
}

a, a:visited, a:active {
    text-decoration: none;
}